* {
    box-sizing: border-box;
}

body, html {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family:"helvetica", sans-serif;
    font-weight: bolder;
    background:rgba(178, 223, 219,1.0);
    text-align: center;
}
section {
    width: 90%;
    margin: auto;
}

h1 {
    border: 1px solid black;
    border-radius: .5em;
    background: #ff8423;
    margin: 2% 0%;
    padding: 1% 0%;
    text-align: center;
    font-weight: bold;

}

h2 {
    width: 20%;
    vertical-align: middle;

}

#regles {

    border: 1px solid black;
    padding:2%;
    text-align: justify;
    vertical-align: middle;
    font-size: small;

}

#entree {
margin:  2% 0%;

}

label {
    font-weight: bolder;
    text-align: right;
}
input {
    margin-right: 1%;

}
button {
    font-weight: bold;
    font-size: large;
}

#perdu {
    height: 50px;
    border: 1px solid black;
    padding:  2%;
    background: darkgray;
}

.ut {
    margin: 2% 0%;
}
#utilises {
    border: 1px solid black;
    height: 50px;
}

#essais {

    border: 2px solid black;
    height: 50px;
    background: #ff8423;


}

#restart {
    visibility: hidden;
}






